* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Cambiado de min-width a min-height */
  background: linear-gradient(90deg, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
}

.card-list {
  list-style: none; /* Elimina los puntos de la lista */
  padding: 0; /* Elimina el padding de la lista */
}

.card-item {
  margin: 16px; /* Añadir márgenes entre las tarjetas */
}

.card-link {
  width: 400px;
  display: block;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.card-text {
  color: red;
  padding: 8px 16px;
  margin: 16px 0;
  font-size: 0.95rem;
  font-weight: 500;
  background-color: aliceblue;
  width: fit-content;
  border-radius: 10px;
}
