*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vh;
  background: linear-gradient(90deg, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
}
.card-list .card-item .card-link{
  width: 400px;
  display: block;
  background-color: white;
  padding: 18px;
}
.card-list .card-link .card-image{
  width: 100%;
  aspect-ratio: 16/9;
}