* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Asegúrate de que el cuerpo ocupe toda la altura */
  background: white; /* O usa un degradado si prefieres */
}

.card-list .card-item {
  list-style: none;
}

.card-list .card-item .card-link {
user-select: none;
  display: block;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-list .card-link .card-image {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-radius: 8px;
}

.card-list .card-link .card-title {
  color: blue;
  padding: 8px 16px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: 16px 0 18px;
  background-color: aliceblue; /* Considera un color que contraste */
  width: fit-content;
  border-radius: 50px;
}

.card-list .card-item .card-link:hover {
  border-color: rgb(244, 251, 38);
  transform: translateY(-5px); /* Efecto de elevación al pasar el ratón */
}

.card-button {
  height: 40px; /* Aumentado para mejor visibilidad */
  width: 40px; /* Aumentado para mejor visibilidad */
  border-radius: 50%;
  display: flex; /* Usar flex para centrar */
  align-items: center; /* Centrar el icono verticalmente */
  justify-content: center; /* Centrar el icono horizontalmente */
  margin: 30px auto; /* Centrar el botón horizontalmente */
  border: 2px solid #3bc4f2;
  cursor: pointer;
  background-color: transparent; /* Fondo transparente por defecto */
  transition: background-color 0.3s ease; /* Transición suave */
}

.card-list .card-link:hover .card-button {
  background-color: #3bc4f2;
  color: white; /* Asegúrate de que el icono se vea bien */
}
