*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-image: url('https://images-ext-1.discordapp.net/external/E470W-a25yhMQQV3azuZqv4t_efbFuQdNCF0fW0AAHo/https/i.imgur.com/OFiO9Md.png?format=webp&quality=lossless&width=960&height=384');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #f1c40f;
    text-decoration: underline;
 
}
.wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_box{
    position: relative;
    width: 400px;
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    box-shadow: 0 0 10px 2px rgba(254, 254, 254, 0.306);
    backdrop-filter: blur(50px);

}
.login-header{
    position: absolute;
    top: 0 ;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 70px;
    background: #fff;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 10px 2px rgba(254, 254, 254, 0.306);

}
.login-header span{
    font-size: 20px;
    color: #000000;


}
.login-header::before{
    content: '';
  position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 #fff;
}
.login-header::after{
    content: '';
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 #fff;
}
.input_box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.input-field{
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: #fff;
    padding-inline: 20px 50px;
    border: 2px solid black;
    border-radius: 30px;    
    outline: none;
}
#user{
    margin-bottom: 10px;
}
.label{
    position: absolute;
    top: 20px;
    left: 20px;
    transition: .3s;
}
.input-field:focus ~ .label,
.input-field:valid ~ .label{
position: absolute;
top: -7px;
left: 20px;
font-size: 14px;
font-weight: 600;
background: #ffffff;
color: #000000;
padding: 0 10px;
border-radius: 10px;
box-shadow: 0 0 1px 1px rgba(13, 13, 13, 0.774);
}
.input-field:focus ,
.input-field:valid{
    border: 2px solid rgb(10, 10, 10); /* Cambia el color del borde al enfocar */
    color: rgb(0, 0, 0);
    background-color: white;
    
}

.icon{
    position: absolute;
    top: 17px;
    right: 25px;
    font-size: 20px;
}
.input-field:focus ~ .icon{
    color: #f1c40f;
}
.input_box .input_submit{
    width: 100%;
    height: 50px;
    background: #fff;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
.input_box .input_submit:hover{
    background: #f1c40f;
    color: #000;
    border: 2px solid white;
}

@media only screen and (max-width: 564px){
    .wrapper{
        padding: 20px
    }
    .login_box{
        padding: 7.5em 1.5em 4em 1.5em;
    }
}

  /* Estilos adicionales para el autocompletado en foco */
  input:-webkit-autofill:focus {
    border: 4px solid rgb(255, 255, 255); /* Cambia el color del borde al enfocar */
    color: rgb(0, 0, 0);

  }

    input:-webkit-autofill {
        -webkit-text-fill-color: rgb(0, 0, 0); /* Cambia el color del texto */
        border: 10px solid rgb(255, 255, 255); /* Cambia el color del borde */
        -webkit-box-shadow: 0 0 0px 105px white inset; /* Cambia el color del fondo */
    }